<!-- 
  
  About Page:
    - Info about site, and where to ask questions 
    - Can have form asking to email me for any improvement or whatever
    - Social Media buttons 

  Examples:

    - https://mobirise.com/bootstrap-template/about-us-page-template/



Outline: 
     - Short paragraph on why this website was made
     - Contact Button that directs to contact html page. (Prompt user for feedback)
 -->
{% extends "base.html" %} 

{% block page_content %}

{% load static %}

<h1 class="display-1">About this Site...</h1>

{% endblock %}